<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Invitation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Marck+Script&display=swap&family=Neucha&display=swap"
          rel="stylesheet">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
</head>
<body>
<div class="wedding-header">
    <div class="flex items-center justify-center">
        <div class="relative animate-on-scroll">
            <div class="photo-wrapper">
                <img class="image" alt="we" src="/images/img.png">
            </div>
        </div>
    </div>
    <h1 class="animate-on-scroll">Мы - Артур и Карина</h1>
    <h3 class="animate-on-scroll">И мы решили пожениться и позвать именно вас!</h3>
    <div class="wedding-details animate-on-scroll">
        <h2 class="lead">Дорогие друзья!</h2>
        <p>Мы рады пригласить вас разделить с нами самый важный день в нашей жизни.</p>
        <p>Это будет особенный праздник, наполненный любовью, радостью и счастьем, а каждый из вас - важная его
            часть.</p>
        <p>Пусть этот день запомнится теплом, яркими моментами и смехом</p>
    </div>
    <div class="wedding-details animate-on-scroll" >
        <h2 class="lead">Программа торжества</h2>
        <div class="timeline">
            <div class="timeline-item animate-on-scroll">
                <img src="/images/champagne.svg" alt="Церемония">
                <div class="time">15:00</div>
	            <div class="event">Сбор гостей, фуршет</div>
            </div>
            <div class="timeline-item animate-on-scroll">
                <img src="/images/arch.svg" alt="Церемония">
                <div class="time">16:00</div>
	            <div class="event">Церемония</div>
            </div>
            <div class="timeline-item animate-on-scroll">
                <img src="/images/cake.svg" alt="Банкет">
                <div class="time">17:00</div>
                <div class="event">Праздничный банкет</div>
            </div>
            <div class="timeline-item animate-on-scroll">
                <img src="/images/saxophone.svg" alt="After party">
                <div class="time">18:00</div>
                <div class="event">Музыка, танцы, веселье!</div>
            </div>
        </div>
    </div>
    <div class="wedding-details animate-on-scroll">
        <h2 class="lead">Мы будем ждать вас</h2>
        <p>16 августа 2025 года</p>
        <a href="https://2gis.kg/bishkek/firm/70000001079683718?m=74.67647%2C42.680937%2F16" target="_blank">Mountain
            View Resort</a>
        <h2 class="lead">Дресс-код</h2>
        <p>Мы будем очень рады, если вы поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре
            торжества</p>

        <div class="color-palette">
            <div class="color-swatch" style="background-color: #809671;"></div>
            <div class="color-swatch" style="background-color: #B3B792;"></div>
            <div class="color-swatch" style="background-color: #E5E0D8;"></div>
            <div class="color-swatch" style="background-color: #E5D2B8;"></div>
            <div class="color-swatch" style="background-color: #D2AB80;"></div>
            <div class="color-swatch" style="background-color: #725C3A;"></div>
        </div>
    </div>
</div>
<div class="flex items-center justify-center images-wrapper">
    <div class="animate-on-scroll parent-wrapper">
        <div class="photo-wrapper-both img-1">
            <img class="image" alt="we" src="/images/img_1.png">
        </div>
        <div class="photo-wrapper-both img-2">
            <img class="image" alt="we" src="/images/img_2.png">
        </div>
    </div>
</div>
<div class="container-rsvp">
    <div class="rsvp-form animate-on-scroll" id="rsvpFormContainer">
        <h2 class="text-center mb-4">RSVP</h2>
        <div id="loadingIndicator" class="text-center mb-3" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
            <p class="mt-2">Отправка формы...</p>
        </div>
        <form th:action="@{/rsvp}" th:object="${guest}" method="post" id="rsvpForm">
            <div class="mb-4">
                <label for="name" class="form-label">Ваше имя и фамилия <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="name" th:field="*{name}"
                       required>
                <div class="invalid-feedback" id="nameError" style="display: none;">Напишите, пожалуйста, ваши имя и
                    фамилию русскими буквами (например: Иван Петров)
                </div>
            </div>
            <div class="mb-4">
                <label for="relationType" class="form-label">Кем вы приходитесь молодоженам? <span
                        class="text-danger">*</span></label>
                <select class="form-control" id="relationType" name="relationType" required>
                    <option value="" disabled selected>Выберите</option>
                    <option th:each="type : ${T(dev.roomwarrior.wedding.enums.RelationType).values()}"
                            th:value="${type}"
                            th:text="${type.displayName}"
                            th:selected="${guest.relationType == type}">Тип отношений
                    </option>
                </select>
            </div>
            <div class="mb-4">
                <label class="form-label">Выберите вариант <span class="text-danger">*</span></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="attending" id="attendingYes"
                           th:field="*{attending}" th:value="YES" required>
                    <label class="form-check-label" for="attendingYes">
                        Я приду
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="attending" id="attendingPlusOne"
                           th:field="*{attending}" th:value="PLUS_ONE" required>
                    <label class="form-check-label" for="attendingPlusOne">
                        Я приду с +1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="attending" id="attendingNo"
                           th:field="*{attending}" th:value="NO" required>
                    <label class="form-check-label" for="attendingNo">
                        К сожалению, не смогу прийти
                    </label>
                </div>
            </div>
            <div class="mb-4" id="plusOneNameDiv" style="display: none;">
                <label for="plusOneName" class="form-label">Имя и фамилия +1 <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="plusOneName" th:field="*{plusOneName}">
                <div class="invalid-feedback" id="plusOneNameError" style="display: none;">Напишите, пожалуйста, имя и
                    фамилию вашего +1 русскими буквами (например: Иван Петров)
                </div>
            </div>
            <div class="mb-4" id="transportDiv" style="display: none;">
                <label class="form-label">Как вы планируете добраться? <span class="text-danger">*</span></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="needsTransport" id="transportNo"
                           th:field="*{needsTransport}" th:value="false" required>
                    <label class="form-check-label" for="transportNo">
                        Доберусь своим ходом
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="needsTransport" id="transportYes"
                           th:field="*{needsTransport}" th:value="true" required>
                    <label class="form-check-label" for="transportYes">
                        Нашим трансфером
                    </label>
                </div>
            </div>
            <div class="mb-4">
                <label for="message" class="form-label">Сообщение для молодоженов </label>
                <textarea style="resize: none;" class="form-control" id="message" th:field="*{message}"
                          rows="3"></textarea>
            </div>
            <button type="submit" class="btn-action btn-primary w-100" id="submitButton">Отправить</button>
        </form>
    </div>
</div>
    <div class="wedding-bottom">
        <div class="wedding-details animate-on-scroll">

            <h2 class="lead">Кстати</h2>
            <p>Мы не любим цветы, но если вы хотите сделать нам приятно, то <span style="color: var(--mountain-blue)">ВМЕСТО</span> цветов, мы будем очень рады чему-нибудь из нашего виш листа</p>
            <a href="https://followish.io/mywishlist/gulc04s3lbwbmt"><button class="btn-action">Вишлист</button></a>
        </div>
    </div>
    <footer class="wedding-footer text-center mt-5 mb-3 animate-on-scroll">
        <p class="mb-2" style="font-size: 1.2rem; font-weight: 100">
            Сделано с любовью, Артуром и Кариной 💍
        </p>
        <p style="font-size: 0.9rem;">© 2025 Все права защищены</p>

        <button onclick="scrollToTop()" class="btn-action animate-on-scroll">↑ Наверх</button>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    observer.unobserve(entry.target); // Анимация один раз
                }
            });
        }, {
            threshold: 0.1
        });

        document.querySelectorAll('.animate-on-scroll').forEach(el => {
            observer.observe(el);
        });
    });



    const attendingPlusOne = document.getElementById('attendingPlusOne');
    const attendingYes = document.getElementById('attendingYes');
    const attendingNo = document.getElementById('attendingNo');
    const plusOneNameDiv = document.getElementById('plusOneNameDiv');
    const transportDiv = document.getElementById('transportDiv');
    const plusOneNameInput = document.getElementById('plusOneName');
    const form = document.getElementById('rsvpForm');
    const submitButton = document.getElementById('submitButton');
    const nameInput = document.getElementById('name');
    const nameError = document.getElementById('nameError');
    const plusOneInputError = document.getElementById('plusOneNameError');


    function validateName(name) {
        const nameRegex = /^[А-Яа-яЁё]+ [А-Яа-яЁё]+$/;
        return nameRegex.test(name.trim());
    }

    nameInput.addEventListener('input', function() {
        if (!validateName(this.value)) {
            this.classList.add('is-invalid');
            nameError.style.display = 'block';
        } else {
            this.classList.remove('is-invalid');
            nameError.style.display = 'none';
        }
    });

    nameInput.addEventListener('blur', function() {
        if (!validateName(this.value)) {
            this.classList.add('is-invalid');
            nameError.style.display = 'block';
        }
    });

    plusOneNameInput.addEventListener('input', function() {
        if (attendingPlusOne.checked && !validateName(this.value)) {
            this.classList.add('is-invalid');
            plusOneInputError.style.display = 'block';
        } else {
            this.classList.remove('is-invalid');
            plusOneInputError.style.display = 'none';
        }
    })

    plusOneNameInput.addEventListener('blur', function() {
        if (attendingPlusOne.checked && !validateName(this.value)) {
            this.classList.add('is-invalid');
            plusOneInputError.style.display = 'block';
        }
    })


    function updateFormFields() {
        const isAttending = attendingYes.checked || attendingPlusOne.checked;

        // Показываем/скрываем поле для имени +1
        if (attendingPlusOne.checked) {
            plusOneNameDiv.style.display = 'block';
            plusOneNameInput.setAttribute('required', 'required');
        } else {
            plusOneNameDiv.style.display = 'none';
            plusOneNameInput.removeAttribute('required');
            if (!attendingPlusOne.checked) {
                plusOneNameInput.value = '';
            }
        }

        // Показываем/скрываем выбор транспорта
        if (isAttending) {
            transportDiv.style.display = 'block';
            document.querySelectorAll('input[name="needsTransport"]').forEach(radio => {
                radio.setAttribute('required', 'required');
            });
        } else {
            transportDiv.style.display = 'none';
            document.querySelectorAll('input[name="needsTransport"]').forEach(radio => {
                radio.removeAttribute('required');
                radio.checked = false;
            });
        }
    }

    // Валидация формы
    form.addEventListener('submit', function (e) {
        e.preventDefault();

        if (!validateName(nameInput.value.trim())) {
            return;
        }

        if (attendingPlusOne.checked && !validateName(plusOneNameInput.value.trim())) {
            return;
        }

        if (attendingPlusOne.checked && !plusOneNameInput.value.trim()) {
            alert('Пожалуйста, укажите имя +1');
            return;
        }

        const isAttending = attendingYes.checked || attendingPlusOne.checked;
        if (isAttending && !document.querySelector('input[name="needsTransport"]:checked')) {
            alert('Пожалуйста, выберите способ транспорта');
            return;
        }

        // Показываем индикатор загрузки
        const loadingIndicator = document.getElementById('loadingIndicator');
        loadingIndicator.style.display = 'block';
        submitButton.disabled = true;

        // Собираем данные формы
        const formData = new FormData(form);

        // Отправляем форму через AJAX
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    const formElements = form.elements;
                    for (let i = 0; i < formElements.length; i++) {
                        formElements[i].disabled = true;
                    }
                    document.body.style.overflow = 'hidden'
                    const alertDiv = document.createElement('div');
                    alertDiv.className = 'modal';
                    alertDiv.id = 'thankYouModal'
                    alertDiv.role = 'modal';
                    alertDiv.innerHTML = `
                   <div class="modal-content" style="font-family: 'Caveat', cursive">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <p>Спасибо за ваш ответ!<br>` + (attendingNo ? `Если измените ваше решение, заполните форму еще раз` : `Мы будем рады видеть вас на нашей свадьбе!`) +
                        `</p></div>`;
                    document.body.appendChild(alertDiv);

                    // Скрываем индикатор загрузки
                    loadingIndicator.style.display = 'none';

                } else {
                    throw new Error('Ошибка при отправке формы');
                }
            })
            .catch(error => {
                alert('Произошла ошибка при отправке формы. Пожалуйста, попробуйте еще раз.');
                submitButton.disabled = false;
                loadingIndicator.style.display = 'none';
            });
    });

    // Инициализация при загрузке страницы
    updateFormFields();

    // Обработчик изменения выбора
    document.querySelectorAll('input[name="attending"]').forEach(radio => {
        radio.addEventListener('change', updateFormFields);
    });

    function closeModal() {
        document.getElementById("thankYouModal").style.display = "none";
        document.body.style.overflow = ''
    }

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>
</body>
</html>
